<!DOCTYPE html>
<html>

<head>
    <title>View Subjects</title>
    

        <%- include('../../components/partials/header.ejs') %>

    <div class="panel panel-success">
        <div class="panel-heading">All Subjects</div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Discription</th>
                        <th>Topics</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data){
    for(var i=0;i<data.length;i++){
        %>
                    <tr>
                        <td><%= data[i].id%></td>
                        <td><%= data[i].name%></td>
                        <td><%= data[i].dis%></td>
                        <td>
                            <a href='/viewTopics/<%= data[i].id%>'> <button type="button"
                                class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-edit"></span> View Topics
                                </button>
                            </a>
                        </td>
                        <td>
                            <a href='/editSubject/<%= data[i].id%>'> <button type="button"
                                class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-edit"></span> Edit
                                </button>
                            </a>
                        </td>
                    </tr>
                    <%
    }
}
%>
                </tbody>
            </table>
        </div>
    </div>


</body>

</html>