<!DOCTYPE html>
<html>

<head>
    <title>View Questions</title>
    
        <%- include('../../../../components/partials/header.ejs') %>
    
    <div class="text-center mb-6">
        <a href='/addQues/<%= sub%>-<%= topic%>'>
            <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Add New Question in <%= topic%>(<%= name%>)</button>
        </a>
    </div>
    <br>
    <div class="panel panel-success">
        <div class="panel-heading">All Questions in <%= topic%>(<%= name%>)</div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>By</th>
                        <th>Approved</th>
                        <th>Is Pic</th>
                        <th>See Question</th>
                        <th>Edit Question</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data){
    for(var i=0;i<data.length;i++){
        %>
                    <tr>
                        <td><%= data[i].id%></td>
                        <td><%= data[i].by%></td>
                        <td><%= data[i].approved%></td>
                        <td><%= data[i].isPic%></td>
                        <td>
                            <a href='/editQues/<%= sub%>-<%= data[i].id%>'> <button type="button"
                                    class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-edit"></span> Edit
                                </button>
                            </a>
                        </td>
                    </tr>
                    <%
    }
}
%>
                </tbody>
            </table>
        </div>
    </div>


</body>

</html>